@model PagedList.IPagedList<Inventario.Models.atributo>
@using PagedList.Mvc;
@using Inventario.Views;
@{
    ViewBag.Title = "Index";
}

<h2 style="font-weight:bold">Atributos equipo</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table id="grid" class="table">
    <tr class="blackImportant">
        <th>
            Nombre
        </th>
        <th>
            Es Requerido
        </th>
        <th>
            Tipo de dato
        </th>
        <th>
            @using (Html.BeginForm())
            {
                <div style="display:inline-block">
                    @Html.TextBox("searchString", null, new { @class = "resizedTextbox" })
                    <input id="buscarSubmit" type="submit" class="lupaImage" value="Buscar" />   @* btn btn-primary *@
                    <button class="cancelarImage" onclick="clean();"> X </button>
                </div>

            }
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.es_requerido)*@
                @Html.CheckBoxIntFor(modelItem => item.es_requerido, new { htmlAttributes = new { @class = "form-control" } },"true")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_dato.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idatributo }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Ver", "Details", new { id = item.idatributo }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.idatributo }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>



<div style="margin-left: 20px">
    @* Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount   *@
    @Html.PagedListPager(Model, Page_No => Url.Action("Index",
        new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
</div>

<script>

    function clean() {
        document.getElementById('searchString').value = "";
        document.getElementById('buscarSubmit').click();
    }

</script>

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })



</script>